.upload-box {
    display: block;
    width: 50%;
    margin-top: 2rem;
    justify-self: anchor-center;

    .upload-box__inner {
        text-align: center;
        padding: 1rem;
        background: var(--color-surface);
        border: 1px dashed var(--color-border);
        border-radius: 16px;
        cursor: pointer;
    }

    &:hover .upload-box__inner {
        background: #141720;
    }
}